@using Models;
<table class="table table-striped">
    @foreach (Year year in DateTime.UtcNow.ToYear().Decade)
    {
        <tr>
            <th>@year.Number</th>
            @foreach (Month month in year.Months)
            {
                <td>@($"{MonthNames[month.Ordinal]}")</td>
            }
        </tr>    
    }
</table>

@code {
    [Parameter] public DateTime ForTimestamp { get; set; }

    // Month names representing the month of their index in the Array
    string[] MonthNames =
    {
        string.Empty, "JAN", "FEB", "MAR", "APR", "MAY", "JUN",
        "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"
    };
}