@page
@using BusinessMonths = Components.BusinessMonths;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <component type="typeof(BusinessMonths)" render-mode="Static" param-fortimestamp="@DateTime.UtcNow" />
</div>
